﻿<p>
    Til <beroertPart.navn />.
</p>

<p>
    Forslagsstiller <forslagsstiller.navn /> ønsker å endre  eller bygge i <kommune /> kommune.<br>
    Klikk på dokumentene nederst i denne meldingen for å lese mer om planarbeidet, og for å se et kartutsnitt av hvilket område planene gjelder.
</p>

<p>
    <strong>Hvorfor får jeg varsel?</strong><br>
    Du får dette varselet fordi du kan være berørt eller har interesser i nærheten av området vi vil endre.
</p>


<p>
    <strong>Har du spørsmål om planene?</strong><br>
    Ta kontakt på e-post <avsenderDistribusjon.epost /> eller telefon <avsenderDistribusjon.telefonnummer />.
</p>

<p>
    <strong>Vil du uttale deg om planene?</strong><br>
    Du kan bruke svarskjemaet under for å uttale deg om arbeidet med planen. Fristen for å sende uttalelse, er <strong><datoFristInnspill /></strong>
</p>

<p>
    <strong>Hva skjer med uttalelsene dine?</strong><br>
    Uttalelsene dine blir sendt til <avsenderDistribusjon.rolle /> <avsenderDistribusjon.navn />. Du får ikke et eget svarbrev, men de skal vurdere alle uttalelser. Uttalelsene er med på å danne grunnlaget for forslaget som senere skal behandles av kommunen.
</p>

<p>Neste skritt er at kommunen skal vurdere om planforslaget er godt nok for å sendes på høring og offentlig ettersyn. I denne fasen får du en ny mulighet til å uttale deg om detaljene i planforslaget.</p>

<p>Du kan lese mer om planarbeid på nettsiden <a href='https://www.planlegging.no'>www.planlegging.no</a></p>

<p>
    <strong>Har du ingen uttalelser?</strong><br>
    Da trenger du ikke gjøre noe som helst.
</p>

<strong>Vedlegg:</strong><br>
<ul class="no-decoration a-iconList">
    <vedleggsliste />
</ul>
