﻿<p>
Både varselet og kvitteringen skal sendes til kommunen sammen med reguleringsplanforslaget.<br />
Berørte parter må svare innen fristen. Du må sende uttalelsene, sammen med dine kommentarer til hver uttalelse, til kommunen sammen med reguleringsplanforslaget.
</p>
<p>Kvitteringen gjelder <byggested/></p>
<p>Hvis du har spørsmål om kvitteringen, kan du oppgi Altinnreferanse: <arkivReferanse/></p>
