﻿<p>Kvitteringen gjelder <plannavn /></p>
<p>
    Berørte parter må svare innen fristen. Du må sende uttalelsene, sammen med dine kommentarer til hver uttalelse, til kommunen sammen med planforslaget. <br/>
    Du må også sende med både brevet og kvitteringen til kommunen.
</p>

<p>Hvis du har spørsmål om kvitteringen, kan du oppgi referanse: <arkivReferanse /></p>
