﻿<p>
    Daglig rapportering - frem til og med frist for innspill <fristForInnspill /> - med oppsamlede tilbakemeldinger fra berørte parter siden forrige rapportering.
</p>
<p>
    Altinnreferanse: <arkivReferanse /><br />
    Arealplan-ID: <planId /><br />
    Plannavn: <planNavn />
</p>

<strong>Svarbrev og vedlegg fra berørte parter:</strong>
<br>
<ul>
    <svarbrevsliste />
</ul>
