﻿<p>
    <forslagsstiller.navn /> arbeider med reguleringsplanforslag i <kommune /> kommune.
</p>

<p>
    <strong>
        Klikk på dokumentene nederst i denne meldingen for å lese brevet, og for å se kart over området.
    </strong>
</p>

<p>
    <strong>Vil du ikke uttale deg?</strong><br/>
    Da trenger du ikke gjøre noe.
</p>

<p>
    <strong>Vil du uttale deg om reguleringsplanforslaget?</strong><br/>
    Du kan bruke dette svarskjemaet for å uttale deg. <br/>
    Fristen for å sende uttalelse, er: <strong><datoFristInnspill /></strong>
</p>

<p>
    <strong>Hva skjer videre?</strong><br />
    Uttalelsen din blir sendt til <avsenderDistribusjon.navn />. Du får ikke et eget svarbrev, men
    uttalelsen din blir vurdert i utformingen av reguleringsplanforslaget. Alle uttalelser er med på å danne
    grunnlaget for planforslaget som senere skal behandles av kommunen. <br />
    <br />
    Neste skritt er at kommunen skal vurdere om planforslaget er godt nok til å sendes på høring og offentlig
    ettersyn. I denne fasen vil du få muligheten til å uttale deg om detaljene i planforslaget. <br />
    <br />
    Du kan lese mer om planarbeid på nettsiden <a href="https://planlegging.no" target="_blank" rel="noreferrer noopener">planlegging.no</a>.
</p>

<p>
    <strong>Hvorfor får jeg dette brevet?</strong><br/>
    Vi sender deg dette brevet fordi du kan være berørt eller ha interesser i nærheten av<gjeldendeEiendom />
</p>

<p>
    <strong>Har du spørsmål om planene?</strong><br/>
    Ta kontakt på e-post <avsenderDistribusjon.epost /> eller telefon <avsenderDistribusjon.telefonnummer />.
</p>

<p>
    Med vennlig hilsen,<br/>
    <avsenderDistribusjon.navn /><paaVegneAvForslagsstiller />
</p>

<strong>Vedlegg:</strong>
<br>
<ul class="no-decoration a-iconList">
    <vedleggsliste />
</ul>
