﻿<p>
    <forslagsstiller.navn /> arbeider med reguleringsplan i <kommune /> kommune.
</p>

<p>
    <strong>
        Klikk på dokumentene nederst i denne meldingen for å lese brevet, og for å se kart over området.
    </strong>
</p>

<p>
    <strong>Vil du ikke uttale deg?</strong><br>
    Da trenger du ikke gjøre noe.
</p>

<p>
    <strong>Vil du uttale deg om reguleringsplanen?</strong><br>
    Du kan bruke dette svarskjemaet for å uttale deg. <br/>
    Fristen for å sende uttalelse, er: <strong><datoFristInnspill /></strong>
</p>

<p>
    <strong>Hva skjer videre?</strong><br/>
    Uttalelsen sendes til kommunen. Du vil ikke få svar på uttalelsen din.
    Alle uttalelser danner grunnlaget for kommunens behandling og vedtak.
    Du mottar et nytt brev når reguleringsplanen er ferdigbehandlet og vedtatt. Da får du også informasjon om klageadgang og frist for klage.
</p>

<p>
    <strong>
        Hva er en reguleringsplan?<br>
    </strong>
    En reguleringsplan er kommunens måte å styre utviklingen i et bestemt område av kommunen. 
    Gjennom planen kan politikerne blant annet styre hvordan vi skal bo, hvor vi skal ha parker, næring og fritidsområder, 
    og hvordan vi skal bevege oss i lokalmiljøet.
</p>

<p>
    <strong>
        Hvorfor får jeg dette brevet?<br>
    </strong>
    Vi sender deg dette brevet fordi du kan være berørt eller ha interesser i nærheten av<gjeldendeEiendom />
</p>

<p>
    <strong>Har du spørsmål om planene?</strong><br>
    Ta kontakt på e-post <avsenderDistribusjon.epost /> eller telefon <avsenderDistribusjon.telefonnummer />.
</p>

<p>
    Med vennlig hilsen, <br/>
    <avsenderDistribusjon.navn /><paaVegneAvForslagsstiller />
</p>

<strong>Vedlegg:</strong>
<br>
<ul class="no-decoration a-iconList">
    <vedleggsliste />
</ul>
